<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rating and Review</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/public/html/customers/home.html" class="nav-link">Home</a></li>
                <li><a href="/public/html/customers/bookingAppointment.html" class="nav-link">Book Appointment</a></li>
                <li><a href="/public/html/customers/rating.html" class="nav-link active">Rating and Review</a></li>
                <li><a href="/public/html/customers/updateProfile.html" class="nav-link">Update Profile</a></li>
            </ul>
        </nav>
    </header>
    <main id="mainRating">
        <h3>Leave a Review</h3>
        <select id="appointments"></select>
        <select id="rating">
            <option value="5">⭐⭐⭐⭐⭐</option>
            <option value="4">⭐⭐⭐⭐</option>
            <option value="3">⭐⭐⭐</option>
            <option value="2">⭐⭐</option>
            <option value="1">⭐</option>
        </select>
        <textarea id="comment" placeholder="Your review"></textarea>
        <button onclick="submitReview(event)">Submit</button>

        
    </main>
    <hr>

        <h3 id="review">Your Reviews</h3>
        <label for="itemsPerPage">Reviews per page:</label>
        <select id="itemsPerPage">
            <option value="5" selected>5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
        </select>
        <ul id="myReviews"></ul>
        <div id="pagination"></div>


        <script src="/public/js/customers/rating.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
        <script src="/public/js/customers/bookingAppointment.js"></script>
</body>

</html>