<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Appointments</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/public/html/staff/home.html" class="nav-link">Home</a></li>
                <li><a href="/public/html/staff/responseByStaff.html" class="nav-link">Rating and Review</a></li>
                <li><a href="/public/html/staff/selectSlots.html" class="nav-link"> Selected Slots</a></li>
                <li><a href="/public/html/staff/appointmentListStaff.html" class="nav-link active">Appointments</a></li>
            </ul>
        </nav>
    </header>
    <h2>My Appointments</h2>
    <label for="itemsPerPage">Appointments per page:</label>
    <select id="itemsPerPage">
        <option value="5" selected>5</option>
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
    </select>
    <table id="appointmentsTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Service</th>
                <th>Date</th>
                <th>Time</th>
                <th>Customer</th>
                <th>Availability</th>
                <th>Update Availability</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="staffAppointments"></tbody>
    </table>
    <div id="pagination"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="/public/js/staff/appointmentListStaff.js"></script>

</body>

</html>